<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PostingNewActivity"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        <activity
            android:name=".qalambook.PdfListAdminActivity"
            android:exported="false" />
        <activity
            android:name=".PdfAddActivity"
            android:exported="false" />
        <activity
            android:name=".qalambook.QalamDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".qalambook.CategoriesAddActivity"
            android:exported="false" />
        <activity
            android:name=".qalambook.QalamAdminActivity"
            android:exported="false" />
        <activity
            android:name=".AddVideoPostActivity"
            android:exported="false" />
        <activity
            android:name=".GroupParticipantAddActivity"
            android:exported="false" />
        <activity
            android:name=".Adapter.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".GroupCreateActivity"
            android:exported="false" />
        <activity
            android:name=".PostDislikedByActivity"
            android:exported="false" />
        <activity
            android:name=".PostLikedByActivity"
            android:exported="false" />
        <activity
            android:name=".Login2Activity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ThereProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddPostSocialActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ChatSocialActivity"
            android:exported="false" />
        <activity
            android:name=".SocialMediaActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".PublishContentActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".AddVideosActivity"
            android:exported="false" />
        <activity
            android:name=".ShortsActivity"
            android:exported="false" />
        <activity
            android:name=".CryptubeActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".CryptersActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CoinsActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".FollowersActivity" />
        <activity android:name=".StoryActivity" />
        <activity android:name=".AddStoryActivity" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service
            android:name=".NotificationsSocial.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>